---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const teamMembers = await getCollection("team");
  return teamMembers.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.name}>
  <Container>
    <div class="flex-col mx-auto max-w-3xl mt-14 space-y-4">
      <div>
        <Picture
          src={entry.data.avatar.src}
          alt={entry.data.avatar.alt}
          sizes="(max-width: 400px) 100vw, 400px"
          widths={[400, 800]}
          aspectRatio="1:1"
          background="#ffffff"
          fit="cover"
          position="center"
          class="w-36 lg:w-48 rounded-xl transition group-hover:-translate-y-1 group-hover:shadow-xl"
        />
      </div>
      <div>
        <h1
          class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
          {entry.data.name}
        </h1>
        <p class="text-gray-400">
          {entry.data.title}
        </p>
      </div>
    </div>

    <div class="mx-auto prose prose-lg mt-6 max-w-3xl">
      <Content />
    </div>
    <div class="text-center mt-8">
      <a
        href="/nosotros"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >â† Nuestro equipo</a
      >
    </div>
  </Container>
</Layout>
